<% if user_signed_in? %>

 
<% else %>
<div class="hero-unit">
<h1>Welcome to My Rails test</h1>
<p>
	Sea Shells by the sea shore. <br><br>
	<%= link_to "Sign Up Now", new_user_registration_path, class:"btn btn-primary btn-large" %>

</p>
</div>
<% end %>




