<div class="hero-unit">



<h1>Welcome to My Rails test</h1>
<p>
	Sea Shells by the sea shore. <br><br>
	<%= link_to "Google", "http://google.com", class:"btn btn-primary btn-large" %>

</p>

</div>





